body {
    margin: 0;
    padding: 0;
}

footer {
    height: 60px;
    position: relative;
    transform: translateY(0%);
    border-top:1px solid #248efe;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #62679b;
}

/*.text-center {*/
/*    !*display: flex;*!*/
/*    !*align-items: center;*!*/
/*    !*justify-content: center;*!*/
/*    vertical-align: middle;*/
/*}*/